<div class="solo-content">
  <div class="page-header">
    <h1>Forgot Password</h1>
    <h2>Please enter your email below</h2>
  </div>

  <form [formGroup]="forgotForm" (ngSubmit)="forgot()" novalidate autocomplete="off">
    <div class="form-group row">
      <label for="email" class="col-sm-3 col-form-label">Email</label>
      <div class="col-sm-9">
        <input type="text" class="form-control" name="email" formControlName="email"
               [ngClass]="{'has-error': (forgotForm.get('email').touched ||
                        forgotForm.get('email').dirty) && !forgotForm.get('email').valid }">
        <div class="error-block" *ngIf="forgotForm.get('email').errors">
          <div class="error-block-text" *ngIf="(forgotForm.get('email').touched ||
                            forgotForm.get('email').dirty) && (
                            forgotForm.get('email').errors.email
                            && !forgotForm.get('email').errors.required)">
            Invalid email format
          </div>
          <div class="error-block-text" *ngIf="(forgotForm.get('email').touched ||
                            forgotForm.get('email').dirty) &&
                            forgotForm.get('email').errors.required">
            An email is required to sign up.
          </div>
          <div class="error-block-text" *ngIf="(forgotForm.get('email').touched ||
                            forgotForm.get('email').dirty) &&
                            forgotForm.get('email').errors.maxlength">
            An email must not exceed {{ forgotForm.get('email').errors.maxlength.requiredLength }} characters
          </div>

        </div>
      </div>
    </div>

    <button type="submit" class="btn wa-button-dark" [disabled]="!forgotForm.valid"
            [ngClass]="{'invalid-button': !forgotForm.valid }">
      Submit
    </button>

  </form>
</div>
