<div class="solo-content">
    
        <div class="page-header">
            <h1>Sign up</h1>
            <h2>Enter your credentials below</h2>
        </div>
    
        <form [formGroup]="signupForm" (ngSubmit)="signup()" novalidate autocomplete="off">
            <div class="form-group row">
                <label for="email" class="col-sm-3 col-form-label">Email</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" name="email" formControlName="email"
                        [ngClass]="{'has-error': (signupForm.get('email').touched || 
                        signupForm.get('email').dirty) && !signupForm.get('email').valid }">
                    <div class="error-block" *ngIf="signupForm.get('email').errors">
                        <div class="error-block-text" *ngIf="(signupForm.get('email').touched || 
                            signupForm.get('email').dirty) && (
                            signupForm.get('email').errors.email
                            && !signupForm.get('email').errors.required)"> 
                                Invalid email format
                        </div>                        
                        <div class="error-block-text" *ngIf="(signupForm.get('email').touched || 
                            signupForm.get('email').dirty) &&
                            signupForm.get('email').errors.required"> 
                                An email is required to sign up.
                        </div>
                        <div class="error-block-text" *ngIf="(signupForm.get('email').touched || 
                            signupForm.get('email').dirty) &&
                            signupForm.get('email').errors.maxlength"> 
                            An email must not exceed {{ signupForm.get('email').errors.maxlength.requiredLength }} characters
                        </div>                         
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <label for="password" class="col-sm-3 col-form-label">Username</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" name="username" formControlName="username"
                        [ngClass]="{'has-error': (signupForm.get('username').touched || 
                        signupForm.get('username').dirty) && !signupForm.get('username').valid }">
                    <div class="error-block" *ngIf="signupForm.get('username').errors">
                        <div class="error-block-text" *ngIf="(signupForm.get('username').touched || 
                            signupForm.get('username').dirty) &&
                            signupForm.get('username').errors.required"> 
                            A username is required to sign up.
                        </div>
                        <div class="error-block-text" *ngIf="(signupForm.get('username').touched || 
                            signupForm.get('username').dirty) &&
                            signupForm.get('username').errors.maxlength"> 
                            A username must not exceed {{ signupForm.get('username').errors.maxlength.requiredLength }} characters
                        </div>                          
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <label for="password" class="col-sm-3 col-form-label">Password</label>
                <div class="col-sm-9">
                    <input type="password" class="form-control" name="password" 
                        [ngClass]="{'has-error': (signupForm.get('password').touched || 
                        signupForm.get('password').dirty) && !signupForm.get('password').valid }" formControlName="password">
                    <div class="error-block" *ngIf="signupForm.get('password').errors">
                        <div class="error-block-text" *ngIf="(signupForm.get('password').touched || 
                            signupForm.get('password').dirty) &&
                            signupForm.get('password').errors.required"> 
                            You must enter a password.
                        </div>
                        <div class="error-block-text" *ngIf="(signupForm.get('password').touched || 
                            signupForm.get('password').dirty) &&
                            (!signupForm.get('password').errors.required && signupForm.get('password').errors.minlength)"> 
                            Your password must be at least 8 characters.
                        </div>                        
                    </div>
                </div>
            </div>

          <!--Need to check that confirm passowrd matches password, then ignore current passowrd-->
            <div class="form-group row">
                <label for="passwordConfirmation" class="col-sm-3 col-form-label">Password Confirmation</label>
                <div class="col-sm-9">
                    <input type="password" class="form-control" name="passwordConfirmation" 
                        [ngClass]="{'has-error': (signupForm.get('passwordConfirmation').touched || 
                        signupForm.get('passwordConfirmation').dirty) && !signupForm.get('passwordConfirmation').valid }" formControlName="passwordConfirmation">
                    <div class="error-block" *ngIf="signupForm.get('passwordConfirmation').errors">
                        <div class="error-block-text" *ngIf="(signupForm.get('passwordConfirmation').touched || 
                            signupForm.get('passwordConfirmation').dirty) && (
                            signupForm.get('passwordConfirmation').errors.required &&
                            !signupForm.get('passwordConfirmation').errors.matchOther)"> 
                            You must confirm your password
                        </div>                        
                        <div class="error-block-text" *ngIf="(signupForm.get('passwordConfirmation').touched || 
                            signupForm.get('passwordConfirmation').dirty) &&
                            signupForm.get('passwordConfirmation').errors.matchOther"> 
                            Passwords do not match
                        </div>
                    </div>
                </div>
            </div>                                      
            <button type="submit" class="btn" [disabled]="!signupForm.valid"
                [ngClass]="{'invalid-button': !signupForm.valid }">Sign up</button>
        </form>
    </div>
