@import './stylePartials/_fonts.scss';
@import './stylePartials/_backgrounds.scss';
@import './stylePartials/_variables.scss';

body {
    font-family: Roboto,Helvetica Neue,sans-serif;
    font-size: 14px;
    color: $text-dark;
    // by default all text content is center aligned, to modify this... set text-align to something else further down the sheet
    text-align: center;
}

.pointer {
    cursor: pointer;
}

a {
    cursor: pointer;
}

.wa-button-dark {
    background: $background-dark;
    color: $text-light;
    margin-right: 5%;
    &:hover {
        background: $background-light;
        color: $text-dark;
        font-weight: bold;
        &.invalid-button {
            background: $background-dark;
            color: $text-light;
            font-weight: normal;
        }
    }
}

button:first-of-type {
    margin-right: 0%;
}

form {
    button {
        float: right;
    }
    text-align: left;
    .has-error {
        border: 1px solid;
        border-color: red;
    }
    .error-block {
        padding-top: 2px;
        padding-left: 5px;
        .error-block-text {
            font-size: 1em;
            color: red;
        }
    }
}

// For page's with solo content (no side nav, etc.)
.solo-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 2.5%;
    padding-left: 20%;
    padding-right: 20%;
    .center-text {
        align-self: center;
    }
    h1 {
        font-size: 2.5em;
    }
    h2 {
        font-size: 1.25em;
    }
}

.page-header {
    padding-bottom: 5%;
    h1 {
        font-size: 3em;
        font-weight: bold;
    }
    h2 {
        font-size: 1.5em;
    }
}

.page-section {
    padding-top: 5%;
    padding-bottom: 10%;
    text-align: center;
    h1 {
        font-size: 2.5em;
        font-weight: bold;
    }
    h2 {
        font-size: 1.25em;
    }
    table {
        margin-top: 5%;
    }
}

.editCreateButton {
    margin-bottom: 15px;
}

.dropdown-menu {
    background: $background-dark;
    color: $text-light;
    .dropdown-item:hover {
        background: $background-light;
        color: $text-dark !important;
    }
    .dropdown-item:active {
        font-weight: bold;
    }
}

.center-element {
    display: flex;
    justify-content: center;
    form {
        width: 35vw;
    }
}

.slight-bottom-margin {
    margin-bottom: 5%;
}

#mainContent {
    margin-bottom: 2.5%;
}