<div class="page-header">
    <h1>Room</h1>
    <h2>Manage your room below</h2>
</div>

<form [formGroup]="roomInfoForm" (ngSubmit)="submit()" novalidate autocomplete="off">
        <div class="form-group row">
            <label for="name" class="col-sm-2 col-form-label">Name</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" formControlName="name"
                [ngClass]="{'has-error': (roomInfoForm.get('name').touched || 
                roomInfoForm.get('name').dirty) && !roomInfoForm.get('name').valid }">
                <div class="error-block" *ngIf="roomInfoForm.get('name').errors">
                    <span class="error-block-text" *ngIf="(roomInfoForm.get('name').touched || 
                        roomInfoForm.get('name').dirty) &&
                        roomInfoForm.get('name').errors.required"> 
                        A name is required.
                    </span>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <label for="staticEmail" class="col-sm-2 col-form-label">Description</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" formControlName="description">
            </div>
        </div>
        <div class="from-group row">
            <!-- Table of actions -->
            <router-outlet></router-outlet>
        </div>
        <button *ngIf="!isUpdating" type="submit" class="btn wa-button-dark" [disabled]="!roomInfoForm.valid"
             [ngClass]="{'invalid-button': !roomInfoForm.valid }">Create</button>
        <button *ngIf="isUpdating" type="submit" class="btn wa-button-dark" [disabled]="!roomInfoForm.valid"
             [ngClass]="{'invalid-button': !roomInfoForm.valid }">Update</button>
    </form>
