.game-card {
    color: white;
    min-height: 50px;
    margin-bottom: 15px;
    .row {
        padding-bottom: 15px;
    }
}

.game-name {
    font-size: 1.5em;
}

.middle-row {
    padding-left: 10px;
}


