<div class="row">
    <div id="createSideNav">
        <a routerLinkActive="active-link" [routerLink]="['info']">Game Information</a>
        <a routerLinkActive="active-link" [routerLink]="['rooms']" >Rooms</a>
        <a routerLinkActive="active-link" [routerLink]="['items']">Items</a>
        <a routerLinkActive="active-link" [routerLink]="['monsters']">Monsters</a>
        <a routerLinkActive="active-link" [routerLink]="['player-options']">Player Options</a>
    </div>    
    <div id="createContent">
        <div class="container-fluid">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>




