@import './../../../../stylePartials/_variables.scss';

.table {
    background: $background-dark;
    tbody {
        background: $background-darker;
        tr:hover {
            background: $background-light;
            color: $text-dark;
            font-weight: bold;
            font-size: 1.1em;
        }
    }
}
